body {
    background: dimgray;
}

#usuario{
    padding: 20px;
}

#clave{
    padding: 20px;
}

#contenedor-ppal{
    margin: 200px 0 0 0;
}

h1{
    background-color:azure;
    border-radius: 10px;
}

#Cuadro-Login{
    border-radius: 30px;
}